In [66]:
import pandas as pd

In [67]:
file_to_load = "purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [68]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [69]:
total_players = purchase_data['SN'].value_counts()
len(total_players)

576

In [70]:
unique_items = purchase_data['Item Name'].unique()
len(unique_items)

179

In [71]:
sum_price = purchase_data['Price'].sum()
average_price = sum_price / len(purchase_data)
average_price

3.0509871794871795

In [72]:
len(purchase_data['Purchase ID'])

780

In [73]:
purchase_data['Price'].sum()

2379.77

In [74]:
purchasing_analysis = pd.DataFrame(
                        {"Number of Unique Items" : [179],
                        "Average Price" : ["$3.05"],
                        "Number of Purchases" : [780],
                        "Total Revenue" : ["$2,379.77"]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [75]:
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [133]:
male_count = len(purchase_data[purchase_data['Gender'] == "Male"])
female_count = len(purchase_data[purchase_data['Gender'] == "Female"])
other_count = len(purchase_data[purchase_data['Gender'] == "Other / Non-Disclosed"])

In [84]:
# purchase_data['Gender'].value_counts()
# all_gender = purchase_data.groupby('Gender')
# total_male = all_gender['Gender'].count()
# total_male

percent_male = (652 / len(purchase_data['Gender']) * 100)
percent_male

83.58974358974359

In [85]:
percent_female = (113 / len(purchase_data['Gender']) * 100)
percent_female

14.487179487179489

In [86]:
percent_other = (15 / len(purchase_data['Gender']) * 100)
percent_other

1.9230769230769231

In [134]:
gender_demographics = pd.DataFrame(
                        {"Total Count" : [male_count,female_count,other_count],
                        "Percentage of Players" : ["83.59%","14.49%","1.92%"]},
                        index=["Male", "Female", "Other / Non-Disclosed"])
gender_demographics

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

In [135]:
purchase_price_male = purchase_data.loc[purchase_data['Gender'] == "Male", 'Price'].sum()
avg_purchase_price_male = purchase_price_male / male_count
avg_purchase_price_male_rounded = avg_purchase_price_male.round(decimals=2)
avg_purchase_price_male_value = '$' + avg_purchase_price_male_rounded.astype(str)
avg_purchase_price_male_value

'$3.02'

In [136]:
purchase_price_female = purchase_data.loc[purchase_data['Gender'] == "Female", 'Price'].sum()
avg_purchase_price_female = purchase_price_female / female_count
avg_purchase_price_female_rounded = avg_purchase_price_female.round(decimals=2)
avg_purchase_price_female_value = '$' + avg_purchase_price_female_rounded.astype(str)
avg_purchase_price_female_value

'$3.2'

In [137]:
purchase_price_other = purchase_data.loc[purchase_data['Gender'] == "Other / Non-Disclosed", 'Price'].sum()
avg_purchase_price_other = purchase_price_other / other_count
avg_purchase_price_other_rounded = avg_purchase_price_other.round(decimals=2)
avg_purchase_price_other_value = '$' + avg_purchase_price_other_rounded.astype(str)
avg_purchase_price_other_value

'$3.35'

In [141]:
total_purchase_price_male = '$' + purchase_price_male.astype(str)
total_purchase_price_female = '$' + purchase_price_female.astype(str)
total_purchase_price_other = '$' + purchase_price_other.astype(str)

In [270]:
avg_purchase_per_person = purchase_data.groupby(['SN','Gender']).agg({'Price': ['sum']})
avg_purchase_per_person.columns = ['total_price']
avg_purchase_per_person_by_gender = avg_purchase_per_person.groupby(level='Gender').mean()
avg_purchase_per_person_by_gender_rounded = avg_purchase_per_person_by_gender.round(decimals=2)
avg_total_purchase_per_person ='$' + avg_purchase_per_person_by_gender_rounded.astype(str)
avg_total_purchase_per_person

                       total_price
Gender
Female                        4.47
Male                          4.07
Other / Non-Disclosed         4.56

In [274]:
avg_total_purchase_per_person_male = avg_total_purchase_per_person.loc['Male']['total_price']
avg_total_purchase_per_person_female = avg_total_purchase_per_person.loc['Female']['total_price']
avg_total_purchase_per_person_other = avg_total_purchase_per_person.loc['Other / Non-Disclosed']['total_price']

In [275]:
purchasing_analysis_gender = pd.DataFrame(
                        {"Purchase Count" : [male_count,female_count,other_count],
                        "Average Purchase Price" : [avg_purchase_price_male_value,avg_purchase_price_female_value,avg_purchase_price_other_value],
                        "Total Purchase Value" : [total_purchase_price_male,total_purchase_price_female,total_purchase_price_other],
                        "Avg Total Purchase per Person" : [avg_total_purchase_per_person_male,avg_total_purchase_per_person_female,avg_total_purchase_per_person_other]})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,652,$3.02,$1967.64,$4.07
1,113,$3.2,$361.94,$4.47
2,15,$3.35,$50.19,$4.56

In [276]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44